body {
    background: url(image/1.png) no-repeat fixed, url(image/4.png) no-repeat fixed, url(image/2.png) no-repeat fixed, url(image/3.png) no-repeat fixed, url(image/5.png) no-repeat fixed, url(image/6.png) no-repeat fixed, url(image/0.png) no-repeat center center fixed;
    background-size: 40%, 15%, 20%, 17%, 20%, 10%, cover;
    background-position-x: 0%, 85%, 95%, 75%, 22%, 20%, 0%;
    background-position-y: 100%, 80%, 60%, 53%, 50%, 0%;
}