body {
    text-shadow: 1px 1px 2px rgb(10, 10, 10), 0 0 1em rgb(253, 253, 253);
    }

table {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 70%;
    text-align: left;
    font-weight: 400;
    font-size: medium;
}

.logo {
    width: 50%;
}

tr>td:nth-child(1) {
    font-size: larger;
    font-weight: bolder;
    width: 30%;
    text-align: center;
}

tr>td:nth-child(2) {
    width: 20%;
}

tr>td:nth-child(3) {
    width: 20%;
}

tr>td:nth-child(4) {
    width: 25%;
}

form {
    text-align: center;
}

.btn {
    width: 70%;
    background-color: #f8faf9;
    color: rgb(12, 12, 12);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.ss {
    margin-top: 0%;
    margin-left: -10px;
    margin-right: auto;
    width: 90%;
    height: 70%;
    text-align: left;
    font-weight: 100;
    font-size: small;
}

.mlogo {
    width: 25px;
}