#menu a {
    padding: 1em;
    background: rgba(19, 157, 236, 0.3);
    border-right: 1px solid #1eb4e2a9;
    color: black;
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

#menu a:hover {
    background: #6c6f8a;
}

#menu li {
    display: inline-block;
}

#menu nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
}

.nav {
    background: rgb(37, 37, 37);
    text-align: center;
}

.nav a {
    text-decoration: none;
    display: block;
    transition: .5s linear;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    position: relative;
    width: 200px;
}

.topmenu>li>a {
    font-weight: bold;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f3ebeb;
    border: 1px solid #999;
}

.topmenu a:hover {
    background: rgb(25, 188, 238);
}

.submenu {
    position: absolute;
    left: 10px;
    z-index: 5;
    width: 240px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
}

.submenu li {
    position: relative;
    border: 1px solid #999;
    margin: 2px;
}

.submenu a {
    background: rgb(25, 188, 238);
    color: white;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.submenu a:hover {
    background: rgb(85, 200, 235);
}

.submenu .submenu {
    position: absolute;
    top: 0;
    left: 200px;
}

.nav li:hover>.submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#o {
    background: rgb(25, 188, 238);
}