table {
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
}

tr>td:nth-child(1) {
    width: 30%;
}

tr>td:nth-child(2) {
    width: 70%;
    text-align: left;
}

.cir {
    border-radius: 100px;
}

th {
    text-align: left;
    font-style: normal;
}

li {
    display: inline-block;
}